/* body {
  margin: 0;
  padding: 10px;
  font-family: Roboto, italic, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9345;
  margin-bottom: 4px;
}
button {
  background: #5f9345;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
} */

html,
body {
  margin: 0;
  padding: 10px;
  font-family: Roboto, italic, sans-serif;
}
#box {
  cursor: pointer;
  background: lightseagreen;
  padding: 40px;
  width: 200px;
  text-align: center;
  margin: 20px auto;
  color: white;
  font-weight: bold;
}
